@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", serif;
}

.mySlides1 {
    top: 200px;
}

.auto {
    max-width: 990px;
    margin: auto;
    display: none;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
}

.top {
    max-width: 990px;
    width: 100%;
    margin: auto;
    background: url(background-top.png);
    background-size: 990px;
    height: 1054px;
    background-repeat: no-repeat;
}

.slideshow-container1{
    padding-top: 20%;
}

.Lead-Text {
    text-align: center;
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
}

.active, .dot:hover {
    background-color: #a7ba72;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 990px;
    margin: 20px auto;
    padding: 0 70px;
}

.flex :hover {
    transform: scale(1.1);
    z-index: 1;
}

#bagian1 {
    max-width: 990px;
    width: 100%;
    margin: auto;
    background: url(background-family.png);
    background-size: 990px;
    height: 1567px;
    background-repeat: no-repeat;
}

.mySlides2 {
    top: 200px;
    display: none;
}

.slideshow-container2 {
    padding-top: 20%;
    max-width: 600px;
    position: relative;
    margin: auto;
}

.prev1, .next1 {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin: 0 -90px;
    padding: 16px;
    color: beige;
    background-color: #a7ba72;
    font-weight: bold;
    font-size: 18px;
    border-radius: 18px;
    user-select: none;
    top: 50%;
    transition: 0.6s ease;
}

.next1 {
    right: 0;
    border-radius: 18px;
}

.prev1:hover, .next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #a7ba72;
}

.text1 {
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text2 {
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text3 {
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text4 {
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.plan1 {
    text-align: center;
    font-size: 18px;
    font-family: "Noto Sans JP", serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 10%;
    color: #f5eade;
}

.button-link1 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.button-link1:hover {
    transform: scale(1.1);
    z-index: 1;
}

.plan2 {
    text-align: center;
    font-size: 18px;
    font-family: "Noto Sans JP", serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 10%;
    color: #f5eade;
}

.button-link2 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.button-link2:hover {
    transform: scale(1.1);
    z-index: 1;
}

#bagian2 {
    max-width: 990px;
    width: 100%;
    margin: auto;
    background: url(background-mama.png);
    background-size: 990px;
    height: 1363px;
    background-repeat: no-repeat;
}

.mySlides3 {
    top: 200px;
    display: none;
}

.slideshow-container3 {
    padding-top: 30%;
    max-width: 600px;
    position: relative;
    margin: auto;
}

.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot2:hover {
    background-color: #a7ba72;
}

.text5 {
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.plan3 {
    text-align: center;
    font-size: 25px;
    font-family: "Noto Sans JP", serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 35%;
    color: #f5eade;
}

.button-link3 {
    display: flex;
    justify-content: center;
    margin-top: -7px;
}

.button-link3:hover {
    transform: scale(1.1);
    z-index: 1;
}

#bagian3 {
    max-width: 990px;
    width: 100%;
    margin: auto;
    background: url(background-camping.png);
    background-size: 990px;
    height: 1950px;
    background-repeat: no-repeat;
}

.mySlides4 {
    top: 200px;
}

.slideshow-container4 {
    padding-top: 30%;
    max-width: 600px;
    position: relative;
    margin: auto;
}

.dot3 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot3:hover {
    background-color: #a7ba72;
}

.text6 {
    color: #615f5f;
    font-size: 20px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.plan4 {
    text-align: center;
    font-size: 20px;
    font-family: "Noto Sans JP", serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 15%;
    color: #f5eade;
}

.button-link4 {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.button-link4:hover {
    transform: scale(1.1);
    z-index: 1;
}

.plan5 {
    text-align: center;
    font-size: 20px;
    font-family: "Noto Sans JP", serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 30%;
    color: #f5eade;
}

.button-link5 {
    display: flex;
    justify-content: center;
    margin-top: -17px;
}

.button-link5:hover {
    transform: scale(1.1);
    z-index: 1;
}

#bagian4 {
    max-width: 990px;
    width: 100%;
    margin: auto;
    background: url(background-buffet.png);
    background-size: 990px;
    height: 1800px;
    background-repeat: no-repeat;
}

.mySlides5 {
    top: 200px;
    display: none;
}

.slideshow-container5 {
    padding-top: 30%;
    max-width: 600px;
    margin: auto;
    position: relative;
}

.dot4 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot4:hover {
    background-color: #a7ba72;
}

.text7 {
    color: #615f5f;
    font-size: 25px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.rating {
    text-align: center;
    margin-top: 20%;
}

.footer {
    max-width: 990px;
    width: 100%;
    margin: auto;
    background: url(background-footer.png);
    background-size: 990px;
    height: 674px;
    background-repeat: no-repeat;
}

.kupon {
    justify-content: center;
   display: flex;
   align-items: center;
   margin-top: 0%;
   margin-bottom: 12px;
   padding: 25px;
}

.kupon img {
    top:200px;
}

.kupon:hover {
    transform: scale(1.1);
    z-index: 1;
}

.button-link6 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.button-link6:hover {
    transform: scale(1.1);
    z-index: 1;
}

.jal {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.jal:hover {
    transform: scale(1.1);
    z-index: 1;
}

.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin: 0 -90px;
    padding: 16px;
    color: beige;
    background-color: #a7ba72;
    font-weight: bold;
    font-size: 18px;
    border-radius: 18px;
    user-select: none;
    top: 50%;
    margin-top: -20%;
    transition: 0.6s ease;
}

.next2 {
    right: 0;
    border-radius: 18px;
}

.prev2:hover, .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev3, .next3 {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin: 0 -90px;
    padding: 16px;
    color: beige;
    background-color: #a7ba72;
    font-weight: bold;
    font-size: 18px;
    border-radius: 18px;
    user-select: none;
    top: 50%;
    margin-top: -60%;
    transition: 0.6s ease;
}

.next3 {
    right: 0;
    border-radius: 18px;
}

.prev3:hover, .next3:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev4, .next4 {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin: 0 -90px;
    top: 65%;
    padding: 16px;
    color: beige;
    background-color: #a7ba72;
    font-weight: bold;
    font-size: 18px;
    border-radius: 18px;
    user-select: none;
    transition: 0.6s ease;
}

.next4 {
    right: 0;
    border-radius: 18px;
}

.prev4:hover, .next4:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.ana {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.ana:hover {
    transform: scale(1.1);
    z-index: 1;
}

.text-kupon {
    color: #615f5f;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    text-align: center;
}